<!-- <footer class="bs-footer">
  <div class="pull-right">
    Gustavo Santiago &copy;, 2017
</div>
</footer>
  <div class="container">
<div class="panel panel-default">
  <div class="panel-footer">
    <div class="pull-right">
    </div>
  </div>
    
  </div>
</div> -->