<div class="container">
  <div class="page-header">
    <h1>Seguindo</h1>
  </div>

  <br />
  <br />

  <% unless @users.present? %>
  	<%= "Você não está seguindo ninguem" %>
  <% else %>
  	<%= render "users/shared/see_person" %>
  <% end %>
</div>