<div class="container">
  <div class="page-header">
    <h1>Seguidores</h1>
  </div>

  <div style="margin: 65px;"></div>

  <% unless @users.present? %>
  	<%= "Você não possui nenhum seguidor" %>
  <% else %>
  	<%= render "users/shared/see_person" %>
  <% end %>
</div>